.env
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

.env
*.env

mysql_data/
board_mysql_data/

target/
mvnw
mvnw.cmd

.gradle/
build/
out/
gradlew
gradlew.bat

*.class
*.jar
*.war
*.json

*.log

notification-service/
ocr-service/